# Build
target/
build/
dist/
*.orig

# Logs
*.log

# IDE - Eclipse
.settings/
.classpath
.project
.factorypath

# IDE - IntelliJ
.idea/
*.iml

# IDE - NetBeans
nbproject/private/
nbbuild/
nbdist/
nbtarget/

# IDE - VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
